<footer id="footer">
    <div class="inner">
        <div class="box-top">
            <div class="box-left">
                <ul class="menu-footer">
                    <li class="directory not-mobile"><a href="~/Home"  data-count="3">Directory</a></li>
                    <li class="jobs not-mobile"><a href="~/Home"  data-count="1">Jobs</a></li>
                    <li><a rel="nofollow" href="~/Home" >Contact Us</a></li>
                    <li><a rel="nofollow" href="~/Home" >F.A.Q</a></li>
                    <li><a rel="nofollow" href="~/Home" >Cookies Policy</a></li>
                    <li><a rel="nofollow" href="~/Home" >Legal Terms</a></li>
                    <li><a rel="nofollow" href="~/Home" >Privacy Policy</a></li>
                </ul>
                <p>Private Cloud by <strong><a href="http://onwebcity.com/" target="_blank" rel="noopener nofollow">Onwebcity team</a></strong></p>
                <ul class="list-social">
                    <li>
                        <a href="~/Home"  aria-label="Instagram Awwwards">
                            <svg class="ico-svg" viewbox="0 0 14 14">
                                <img src="~/Content/images/icon mxh 16x16/instagram1.png"></img>
                            </svg>

                        </a>
                    </li>
                    <li>
                        <a href="~/Home"  aria-label="Twitter Awwwards">
                            <svg class="ico-svg" viewbox="0 0 14 14">
                                <img src="~/Content/images/icon mxh 16x16/twitter1.png"></img>
                            </svg>

                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/AsiaInvestmentGroup/" aria-label="Facebook Awwwards">
                            <svg class="ico-svg" viewbox="0 0 14 14">
                                <img src="~/Content/images/icon mxh 16x16/facebook1.png"></img>
                            </svg>

                        </a>
                    </li>
                </ul>
            </div>
            <div class="box-right">
                <div class="headline">
                    <img src="~/Content/images/logo 70x70/4.png"/>
                    <img src="~/Content/images/logo 70x70/5.png"/>
                    
                    <strong>
                        <img src="~/Content/images/logo 70x70/3.png"/>
                    </strong>  
                    <strong>
                        <img src="~/Content/images/logo 70x70/2.png"/>
                    </strong>
                </div>
            </div>
        </div>
    </div>
</footer>