<header id="header">
    <div class="header-top">
        <div class="box-left">
            <div class="item">
                <span class="link-1 js-nav-main js-nav-lang" data-menu-id="menu-lang">ENGLISH</span>
            </div>
        </div>
        <div class="box-center">
            @*<img src="~/Content/images/Logo.png"
                 data-src="~/Content/images/products/6.jpg"
                 width="27" height="27" alt="Hello Monday"
                 class="lazy logo-header" />*@
        </div>
        <div class="box-right">
            <ul class="list-social item">
                <li>
                    <a target="_blank" rel="noopener" href="https://www.instagram.com/asia_investment_group/">
                        <svg class="ico-svg" viewbox="0 0 14 14">
                            <img src="~/Content/images/icon mxh 16x16/instagram1.png"></img>
                        </svg>

                    </a>
                </li>
                <li>
                    <a target="_blank" rel="noopener" href="~/Home" >
                        <svg class="ico-svg" viewbox="0 0 14 14">
                            <img src="~/Content/images/icon mxh 16x16/twitter1.png"></img>
                        </svg>

                    </a>
                </li>
                <li>
                    <a target="_blank" rel="noopener" href="https://www.facebook.com/ASIAINVESTMENTGROUP/">
                        <svg class="ico-svg" viewbox="0 0 14 14">
                            <img src="~/Content/images/icon mxh 16x16/facebook1.png"></img>
                        </svg>

                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="header-main">
        <div class="box-left">
            <div class="item bt-menu js-nav-main" data-menu-id="menu-main">
                <div class="ico-menu">
                    <div class="bar"></div>
                    <div class="bar"></div>
                    <div class="bar"></div>
                </div>
                <span class="has-tablet">MENU</span>
            </div>
        </div>


        <div class="box-right">
            <div class="item bt-search " id="js-search-container">
                <svg class="ico-svg" viewbox="0 0 14 14">
                    <img src="~/Content/images/icon mxh 16x16/seach1.png"></img>
                </svg>

            </div>
            <div class="box-center">
                <a href="~/Home" class="">
                    <input type="image" name="imgLogo" id="imgLogo" class="logo-header" src="~/Content/images/Logo.png">
                </a>
            </div>

            <div class="item login">
                <span>Are you a member?</span> <strong><a class="text-black open_login" href="/login">Register / log in</a></strong>
            </div>


            <div class="item has-tablet" id="bt-submit">
                <a href="~/Home" class="button button-large">
                    <span>Join The Sales Team</span>
                </a>
            </div>
        </div>

    </div>
</header>
