@model Awwwards.Models.ProjectModel

<div class="box-information">
    <div class="header">
        <div class="box-left">
            <span class="title">CREDITS</span>
        </div>
        <div class="box-right">
            <div class="tooltip">
                <div class="bt-info"></div>
                <div class="box-tooltip">
                    <div class="tooltip-text">Team behind the project</div>
                </div>
            </div>
        </div>
    </div>
    <ul class="list-users-votes">
        <li>
            <div class="box-left">
                <div class="avatar">
                    <a href="/Home/Index">
                        <img src="https://assets.awwwards.com/awards/media/cache/thumb_user_70/avatar/195221/5a72a9db6d781.jpg" width="50" height="50" alt="SOLAR DIGITAL">
                    </a>
                </div>
                <div class="info">
                    <div class="rows">
                        <div class="row">
                            <strong>SOLAR DIGITAL</strong> <i>from</i>
                            <strong>Ukraine</strong>
                        </div>
                        <div class="row">
                            <strong>
                                <a href="/Home/Index"
                                   rel="nofollow">solar-digital.com</a>
                            </strong>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-right">
                <ul class="list-number-awards">
                    <li>
                        <div class="tooltip">
                            <div class="box-item">
                                <span>H.M</span>
                                <strong>02</strong>
                            </div>
                            <div class="box-tooltip">
                                <div class="tooltip-text">Honorable Mention</div>
                            </div>
                        </div>
                    </li>
                    <li>


                        <div class="tooltip">
                            <div class="box-item box-usertype js-usertype style-dark" data-type="user_type_tribe">
                                <span class="text-uppercase">Tribe </span>
                                <svg class="ico-svg" viewBox="0 0 11 14">
                                    <use xlink:href="./assets/images/sprite-icons.svg#user-tribe">
                                    </use>
                                </svg>

                            </div>
                            <div class="box-tooltip">
                                <div class="tooltip-text">Tribe</div>
                            </div>
                        </div>

                    </li>
                </ul>
                <div class="item">
                    <div class="tooltip">
                        <a href="/Home/Index"
                           class="bt-check js-user-following js-follow-user" data-username="solardigital"
                           data-user-id="535969">
                            <span class="bt-content"></span>
                        </a>
                        <div class="box-tooltip">
                            <div class="tooltip-text">Follow</div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
