
<div class="block pt-0">
    <div class="inner">
        <div class="grid inspiration js-grid" data-page="2" data-route-load-more="tv_ajax_load_more_inspiration">
            <div class="button button-loadmore style2 js-bt-loading js-bt-loadmore">
                <span class="txt-default">Load More</span>
                <span class="txt-loading">Loading...</span>
            </div>
        </div>
    </div>
</div>

